<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite  name="Suite">
  <test  name="Test==1" thread-count="4" parallel="classes">
    <classes>
      <class name="practice.Test.demotestngTEST2"/>
      <class name="practice.Test.demotestngTEST1"/>
      <class name="practice.Test.demotestngTEST5"/>
      
    </classes>
  </test>
  
  <test  name="Test==2">
    <classes>
      <class name="practice.Test.demotestngTEST5"/>
      <class name="practice.Test.demotestngTEST4"/>
    </classes>
  </test>
  
  <test  name="Test==3">
    <classes>
      <class name="practice.Test.demotestngTEST6"/>
          <class name="practice.Test.demotestngTEST3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
